<page-header [title]="'Artwork Requirements'"></page-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <h2><a href="#" name="file-types">What File Types does Printing Express Accept?</a></h2>
        <p>We recommend sending a flattened PDF with outlined text. Printing Express is not responsible for transparency issues that arise from non-flattened PDF's. We also accept JPG, TIFF, EPS, PNG, InDesign packages, and Microsoft Publisher files. Working
            files should either be PDF, AI, PSD, Publisher files or Indesign Packages; otherwise Printing Express may not be able to make changes when necessary.</p>

        <h2><a href="#" name="color-mode">What Color Mode Should My Files Be?</a></h2>
        <p>Printing Express accepts both RGB and CMYK files, although RGB files printed 4-color process may experience color shifts. Files made in either sRGB or Adobe RGB will take advantage of our expanded gamut wide-format printing. Printing Express is
            not responsible for any color shifts that may occur in your RGB files.</p>

        <h2><a href="#" name="resolution">What Resolution Should My Files Be?</a></h2>
        <p>Files provided at less than 300dpi will be either placed on hold or ran as-is at the discretion of Printing Express.</p>

        <h2><a href="#" name="bleed">How Should I Set Up Bleed and Crop Marks</a></h2>
        <p>Items without bleed may be built to size, although all items (excluding wide-format) that bleed must be built with 1/8 inch of bleed and we prefer the files to be provided with crop marks. Artwork provided without bleed may be put on hold or subject
            to additional artwork fees. Additionally, Printing Express suggests keeping a 1/8" safe area around the cut line.</p>

        <h2><a href="#" name="borders">Can I Put Borders on My Job?</a></h2>
        <p>Yes, although we recommend making borders at least 1/4 inch wide (or 1/4 inch from the cut line) to prevent them from being cut off-center.</p>

        <h2><a href="#" name="transparency">What are Transparency Issues?</a></h2>
        <p>Transparency issues result from PDF files that haven't been properly flattened. For best results, convert all spot colors to process or avoid using transparency (including drop shadows, outer glows, etc) on them or above and below them. Transparency
            issues can also result from placing files with transparent backgrounds into a document, and may not show up on the screen. Have us print a proof first if there is a chance you may have transparency issues.</p>

        <h2><a href="#" name="overprint">What is Overprint?</a></h2>
        <p>In most DTP software, elements can be set to <em>overprint</em>, which means that the color of that element will be printed <em>on top of</em> the background color. In other words, if you have a yellow background with a magenta foreground and
            the magenta is set to overprint, you will have a red foreground. Always double check to make sure nothing is set to overprint unless it is supposed to overprint.</p>

        <h2><a href="#" name="purple-blues">Why do my Blues look Purple?</a></h2>
        <p>It's a common error to think that 100C and 100M make blue, while they actually make purple. If you have an equal amount of cyan and magenta, you have made purple. To get a blue color, leave at least 30% difference between the cyan value and the
            magenta value (ie 100C, 70M or 50C, 35M).</p>

        <h2><a href="#" name="greyscale">Why is there a Tint to my Greys?</a></h2>
        <p>Chances are they are not actually defined as grey. Our printers are extremely sensitive, so if your document is in CMYK mode and you have values in any of the C, M, or Y channels, you may end up with some saturation in your print.</p>

        <h2><a href="#" name="cracking">How come there is cracking on the score/fold/cut?</a></h2>
        <p>Using heavy ink coverage on folds, the edges of items where they are cut, or where they are scored or perforated can cause the ink or toner to "crack" or flake off. To avoid this, use lighter ink coverage in these areas.</p>

        <h2><a href="#" name="rich-black">What is Rich Black and How do I Get It?</a></h2>
        <p>Rich black is when black is printed using all four colors. Using RGB values of (0,0,0) is not recommended and may cause additional problems. A safe way to make rich black is to use 100C and 100K or 60C, 40M, 40Y, and 100K.</p>
    </div>
</div>
