@import "../settings";

#bottom {
    background-color: map-get($foundation-palette, primary);
    color: $white;
    box-shadow: 0 0 12px black;
    p {
        margin-bottom: 0;
    }
    .menu li a {
        line-height: $paragraph-lineheight;
    }
    a {
        color: $white !important;
        &:hover, &:active {
            color: $light-gray !important;
        }
        &:visited {
            color: $white;
        }
    }
    text-align: center;
}
