<top-bar></top-bar>

<!-- Content -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- Footer -->
<div id="bottom">
    <section class="row align-center">
        <!--<aside id="help" class="columns medium-4">
            <h3>Need Help?</h3>
            <p>View our
                <a href="<?php echo $this->url('prexp', array('controller' => 'artwork', 'action' => 'templates')); ?>">template library</a>
                <wbr /> or check out our
                <a href="<?php echo $this->url('prexp', array('controller' => 'artwork', 'action' => 'guide')); ?>">guide on making artwork.</a> Graphic pros can look at our
                <a href="<?php echo $this->url('prexp', array('controller' => 'artwork', 'action' => 'requirements')); ?>">artwork requirements.</a></p>
            <p>You can <a href="<?php echo $this->url('orderOnline'); ?>">upload online</a> when your artwork is ready</p>
        </aside>-->
        <section id="contactinfo" class="columns shrink">
            <h3>Contact Us</h3>
            <address>
            <a routerLink="/">Printing Express, Inc.</a><br />
            521 N Mur-Len Rd<br />
            Olathe, KS 66062<br />
            <a href="tel:9137647574">(913) 764-7574</a><br />
            <a href="mailto:sales@printingexpress.org">sales@printingexpress.org</a>
        </address>
        </section>
        <footer id="footer" class="columns shrink">
            <h3>Legal Stuff</h3>
            <p>
                This site and all content &copy; {{year}}
                <a routerLink="/">Printing Express, Inc.</a></p>
            <p>Check out our
                <a routerLink="/privacy">Privacy Policy</a> and
                <a routerLink="/terms">Terms of Service</a>
            </p>
        </footer>
    </section>
</div>
