<page-header [title]="'Artwork Guide'"></page-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <p>
            Printing Express provides this guide to making artwork as a service to our customers that are not professional designers. Hobbyist and professional designers alike may want to check out our <a routerLink="/artwork/requirements">Artwork Requirements</a>            for additional resources.
        </p>

        <h2><a href="#" name="where-do-i-start?">Where Do I Start?</a></h2>
        <p>
            For any business, the best starting place is a good logo. Many small businesses that design most of their products in-house still use professional logo designers. A good logo should be more than a piece of artwork; it should reflect the company's values
            and it should also provide an excellent starting place for designing other things.<br>
            <strong>What if I already have a logo?</strong> You are one step ahead already. A good logo will give you a couple of colors to work with, and it's important to try to stay within this color scheme as much as possible. Your next step is to
            decide what you want (business cards, flyers, etc), determine what you need to put on them as far as photos, graphics, and text (a piece of scratch paper may be handy), and then start designing!
        </p>

        <h2><a href="#" name="software">Software</a></h2>
        <p>
            Professional designers use <a href="http://www.adobe.com" target="_blank">Adobe</a> software almost exclusively, although it's generally too expensive for the hobbyist designer. Microsoft Publisher is good and cost-effective desktop publishing
            software you may already have. Mac users can use <a href="http://www.apple.com/iwork/pages/" target="_blank">Pages</a>. <a href="http://www.scribus.net/canvas/Scribus" taret="_blank">Scribus</a> is a great piece of free desktop publishing
            software. Adobe makes a free piece of software called <a href="http://blogs.adobe.com/rome/?p378" target="_blank">Adobe Rome</a>, which no longer receives updates but still works great. Printing companies generally don't accept Microsoft Word
            files because there are too many associated problems.
        </p>

        <h2><a href="#" name="putting-it-all-together">Putting it All Together</a></h2>
        <p>
            After you choose a piece of software and sketch out what you want, it's time to put it all together. Some quick Google searching can reveal a bevy of free graphics and images (check out <a href="http://www.freeimages.com" target="_blank">freeimages.com</a>).
            Keep in mind that anything on the internet is automatically copyrighted unless it says otherwise. It's also important to make sure that any images are high resolution - preferably 300dpi<sup><a href="/artwork/guide#resolution">?</a></sup>.
        </p>

        <h2><a href="#" name="creating-print-ready-files">Creating Print-Ready Files</a></h2>
        <p>
            After your design is finalized, you'll need to save it in a format that we can work with. If possible, save your design as a PDF file. Other vector formats such as EPS and SVG will work as well (although make sure it's a regular SVG and not an Inkscape
            SVG). Some programs have options to help prepare for commercial printing - it might be good to look through the documentation of the software you are using and see if this feature is available for you. Now you're probably ready to send us
            your print-ready files, although it might be good to run through these next two sections and make sure everything is good to go.
        </p>

        <h2><a href="#" name="bleed">Bleed</a></h2>
        <p>
            In printing, bleed is printing that goes all the way to the edge of the sheet. In commercial printing, it's important to "add bleed" to any artwork that bleeds. For most prints, you can simply make your sheet 1/4 inch larger (so an 8.5x11 sheet would
            become 8.75x11.25), keep everything centered on the sheet knowing that we will be cutting 1/8 inch off of all four sides after the document is printed, and make sure that nothing that can't get cut off is closer than 1/4" from the edge of
            your sheet.<br> For a more graphical representation of bleed, look at the jpg of our <a routerLink="/artwork/templates#business-card">business card template</a>.
        </p>

        <h2><a href="#" name="resolution">Resolution</a></h2>
        <p>
            Resolution in print is a measurement of how many pixels are in one inch of printing. Some artwork uses <em>vectors</em>, which define curves and shapes, while other artwork is what's called <em>raster</em> artwork - made up of pixels. JPG's,
            PNG's, GIF's and TIFF's are examples of raster artwork while PDF's, EPS's, and SVG's may contain vector data. If you're using raster artwork such as photographs, you'll need to make sure they will print at a high resolution in order to get
            the best result. A monitor can be a misleading way to preview images because the images will tend to look much sharper on the monitor than they will after being printed. A good rule of thumb is that images should be provided at 300dpi, or
            300 dots (pixels) for every inch of printing. If you have an image that's, say, 1920x1080 pixels, it may look great on your 1080p monitor, but it will lose quality when it is printed larger than (1920/300) = 6.4 inches wide and (1080/300)
            = 3.6 inches tall.
        </p>
    </div>
</div>
