<prexp-header [title]="'Signs and Banners'"></prexp-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <dl>
            <dt>Posters/Banners:</dt>
            <dd>
                <p>Let our large-format printing capabilities provide you with the highest quality indoor and outdoor signage including but not limited to tearproof polyethylene and polypropylene for near-photo-quality indoor banners, scrim vinyl for outdoor banners, POP displays made of a myriad of different substrates, inkjet printing directly on fabric, and nearly anything else from trash can wraps to wallpaper - the only limit is your imagination.</p>
                <p>Standard 13-oz scrim vinyl outdoor banners include grommets every 2 ft along outside edge.<br>
                <p>Sample prices:</p>
                <table>
                    <tr>
                        <th>2’ x 4’</th>
                        <th>3’ x 6’</th>
                        <th>4’ x 8’</th>
                        <th>5’ x 10’</th>
                    </tr>
                    <tr>
                        <td>from $27</td>
                        <td>from $59</td>
                        <td>from $89</td>
                        <td>from $129</td>
                    </tr>
                </table>
            </dd>
            <dt>Point of Purchase</dt>
            <dt>Retractable Banners</dt>
            <dt>Flags</dt>
            <dt>Yard Signs</dt>
            <dd>4 mm corrugated plastic (coroplast) yard signs. Print one or two sided.</dd>
            <dt>Window Signs</dt>
            <dd>Window posters mount on the inside window surface, facing outward. These are easy to apply, remove, and reposition. Waterproof and UV safe.</dd>
            <dt>Window Perf</dt>
            <dd>White perforated film with a black adhesive backing. Provides 50% printed surface and 50% open area for a clear unobstructed view from the inside.</dd>
            <dt>Signacade A-Frames</dt>
            <dd>Heavy duty plastic A-frame outdoor sidewalk or similar use signs. 24” wide x 36” high full color durable printing on each side. A-frame waterproof printed signs $119. 24” x 36” replacement prints $25 each.</dd>
            <dt>Mesh Banners</dt>
            <dt>Aluminum Sandwich Board</dt>
            <dd>Two sheets of corrosion resistant aluminum bonded to a polyethylene core. Printable one or two-sided for long-term outdoor or indoor use.</dd>
            <dt>Vehicle Magnets</dt>
            <dd>Durable heavy duty 30-mil magnets for cars, trucks, construction sites and any other quick change sign needs. Matte or gloss finish. Two 12” x 18” auto magnets for $39.</dd>
            <dt>Street Signs</dt>
        </dl>
    </div>
</div>
