<page-header [title]="'Products'"></page-header>

<div class="row align-center">
    <div class="columns large-10">
        <p class="text-center">Printing Express is a full-service printing company with a simple philosophy: Quality Printing at Reasonable Prices. We've spent the last two decades (and then some) perfecting our craft, and we would love the opportunity to put our experience
            to work for you. We're a full-service printing company, capable of printing everything from business cards to billboards. Here's a short list of what we can do for you:
        </p>
        <ul class="twocol no-bullet">
            <li>
                <p><strong>Business Cards:</strong> Don't settle for flimsy, undercut cards. Your business cards are part of your first impression and (sometimes) the only tangible that your prospect takes away from your first meeting. In addition to offering
                    nearly every conceivable option for business card printing, we offer design services on this product as well. What message do your business cards send?
                </p>
            </li>
            <li>
                <p><strong>Booklets</strong> (coil binding, comb binding, and saddle stitching available): Let our competitive booklet prices allow you to get more content to more customers. With a wide variety of paper options and sizes, we are well positioned
                    to offer extremely competitive booklet prices on all sizes of books for quantities as low as 1.
                </p>
            </li>
            <li>
                <p><strong>Books</strong> (perfect bound): If you need books with lots of pages, we can perfect bind books up to 2 inches thick. Our digital press allows us to offer extremely high quality on short runs with quick turnaround times and competitive
                    pricing.
                </p>
            </li>
            <li>
                <p><strong>Brochures &amp; Fliers:</strong> Every company needs to have a stack of brochures and fliers to hand to interested customers - something advertising your specials, helping to get the word out, etc. Let us put our experience to
                    work for you to create something that represents your company's image.
                </p>
            </li>
            <li>
                <p><strong>Calendars:</strong> Whether you need full-size 24 or 28 page calendars with photos above each month or miniature pocket-sized calendars, Printing Express is here to help.
                </p>
            </li>
            <li>
                <p><strong>CD Covers &amp; DVD Covers:</strong> Get high-quality digital printing on your CD &amp; DVD covers with short turnaround times. Local customers may pick up orders to avoid shipping charges completely. Stop waiting two weeks to
                    get your CD &amp; DVD covers.
                </p>
            </li>
            <li>
                <p><strong>Door Hangers</strong></p>
            </li>
            <li>
                <p><strong>EDDM:</strong> EDDM is an acronym that stands for Every Door Direct Mail, a service offered by the post office that allows for extremely cheap mailing of flats - postage as low as $0.14 and a wide range of size options. If you
                    need to maximize your reach and minimize your cost, this is for you. Printing Express works directly with the post office to provide this service to you at as low of cost as possible, with the fastest possible turnaround time.
                </p>
            </li>
            <li>
                <p><strong>Envelopes:</strong> We print our black-and-white, 1-color, and 2-color envelopes on our offset press, while offering both digital and offset options for all varieties of envelopes from coin envelopes to booklet and catalog envelopes,
                    including envelopes with bleed and printing on both sides. Don't settle for envelopes printed on a cheap "envelope printer" - get the highest quality envelopes at the lowest prices here.
                </p>
            </li>
            <li>
                <p><strong>Greeting Cards:</strong> With a myriad of paper and color options, utilize our digital printing for your short runs or our offset capabilities for your long runs.
                </p>
            </li>
            <li>
                <p><strong>Letterhead/Stationary</strong></p>
            </li>
            <li>
                <p><strong>Notepads</strong></p>
            </li>
            <li>
                <p><strong>Postcards:</strong> Utilize one of the oldest and most time-tested techniques in printing - postcards - to grow your business and attract new customers. Whether you just need a standard postcard, you'd like to take advantage of
                    the postal service's EDDM program, or you need to send personalized postcards to your customers (or a mailing list), we can help. We offer everything from EDDM to VDP (Variable Data Printing) to help maximize your response while minimizing
                    your costs.
                </p>
            </li>
            <li>
                <p><strong>Posters/Banners:</strong> Let our large-format printing capabilities provide you with the highest quality indoor and outdoor signage including but not limited to tearproof polyethylene and polypropylene for near-photo-quality indoor
                    banners, scrim vinyl for outdoor banners, POP displays made of a myriad of different substrates, inkjet printing directly on fabric, and nearly anything else from trash can wraps to wallpaper - the only limit is your imagination.
                </p>
            </li>
            <li>
                <p><strong>Large Photograph Reproductions:</strong> We do lab-quality photo prints for framing or matting in-house, with options for archival and acid-free paper. We also do them much cheaper than the competition. Feel free to stop by and
                    see some samples before we put our wide-format Epson to work for you.
                </p>
            </li>
            <li>
                <p><strong>Stickers/Labels:</strong></p>
            </li>
            <li>
                <p><strong>Wedding Invitations:</strong> Let us help get your wedding invitations, reply/response cards, envelopes, and wedding programs perfect. Don't pay an arm and a leg, and definitely don't settle for something that you don't love.
                </p>
            </li>
        </ul>
    </div>
</div>
