<page-header [title]="'Template Library'"></page-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <p>Are you ready to design your own printed products? Use our premade templates to make your designs print-ready from the start. You can find additional resources in our <a routerLink="/artwork/guide">Artwork Guide</a>. Graphic professionals may
            want to check out our <a routerLink="/artwork/requirements">Artwork Requirements</a>.</p>

        <h2><a href="#" name="business-card">Business Card Templates</a></h2>
        <p>Printing Express provides templates for designing business cards, sized for US &amp; Canadian sized business cards<br />
            <a href="/assets/templates/buscard.eps">Download EPS Template</a> &middot;
            <a href="/assets/templates/buscard.jpg">Download JPG Template</a>
        </p>

        <h2><a href="#" name="envelope">Envelope Templates</a></h2>
        <p>Printing Express does not provide envelope templates, as the placement of artwork on envelopes is regulated by the US Postal Service. If you need envelope templates, many sizes are available on the USPS website (
            <a href="http://pe.usps.com/mpdesign/mpdright_crm_down_win.asp" target="_blank">Win</a>/
            <a href="http://pe.usps.com/mpdesign/mpdright_crm_down_mac.asp" target="_blank">Mac</a>). PDF's of standard envelopes (#10) are
            <a href="http://pe.usps.com/mpdesign/pdf/PCRMEnv/d10.pdf" target="_blank">available on the USPS website</a> as well as <a href="http://pe.usps.com/mpdesign/pdf/PCRMEnv/d9.pdf" target="_blank">#9 Return Envelopes</a>. Please note these templates
            are provided by the United States Postal Service and Printing Express does not guarantee the usability of these templates.
        </p>

        <h2><a href="#" name="flyer">Flyer Templates</a></h2>
        <p>Printing Express provides templates for flyers. These are for standard-sized paper (8.5x11)<br>
            <a href="/assets/templates/flyer.eps">Download EPS Template</a> &middot;
            <a href="/assets/templates/flyer.jpg">Download JPG Template</a>
        </p>

        <h2><a href="#" name="postcards">Postcard Templates</a></h2>
        <p>Printing Express does not provide postcard templates, as the placement of artwork on postcards is regulated by the US Postal Service. If you need postcard templates, many sizes are available on the USPS website for
            <a href="http://pe.usps.com/mpdesign/mpdright_crm_down_win.asp" target="_blank">Windows</a> and
            <a href="http://pe.usps.com/mpdesign/mpdright_crm_down_mac.asp" target="_blank">Mac</a>. Please note these templates are provided by the United States Postal Service and Printing Express does not guarantee the usability of these templates.<br>            Also, please note that all artwork that bleeds must include 1/8 inch of bleed <sup><a routerLink="/artwork/guide" fragment="bleed">?</a></sup>
        </p>

        <h2><a href="#" name="trifold">Trifold Brochure Templates</a></h2>
        <p>Printing Express provides templates for trifold brochures. These are for standard six-panel brochures (three on each side), printed on standard size paper (8.5x11)<br>
            <a href="/assets/templates/trifold.eps">Download EPS Template</a> &middot;
            <a href="/assets/templates/trifold.jpg">Download JPG Template</a>
        </p>
    </div>
</div>
