<prexp-header [title]="'Lab-Quality Photographs'"></prexp-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <h2>Digital Photo Printing</h2>
        <p>Our digital photo printing services allow you to send us photos just like you would any other job. We offer quick turnaround on photo prints, and of course they'll be printed at lab-quality. When you want your graduating senior to look his or her best, and when you want to preserve special memories, get in touch and let us make you shine.</p>

        <h2>Canvas Photo Prints</h2>
        <p>
            Our lab-quality canvas prints are spectacular. We use exceptionally high-grade canvas, and our work speaks for itself. Give the gift your loved ones will cherish for years, or turn a blank wall into a conversation piece!<br>
            High-quality canvas prints wrapped on 1.5” gallery frames. Solid wood frames.<br>
            <strong>Sample sizes and costs</strong>
        </p>
        <table>
            <tr>
                <th>12” x 16”</th>
                <th>16” x 20”</th>
                <th>20” x 30”</th>
                <th>30” x 40”</th>
            </tr>
            <tr>
                <td>$29</td>
                <td>$39</td>
                <td>$49</td>
                <td>$75</td>
            </tr>
        </table>

        <h3>Gallery Wraps</h3>
        <p>Gallery wraps are canvas prints that don't require a frame. The image is wrapped around bars which form a "frame", but on the inside of the print. When viewed from the front, top, left, right, or bottom, all you see is canvas photo. These have become wildly popular due to the unique "gallery" look, and it's an excellent value compared to traditional framing and matting.</p>

        <h3>Museum Wraps</h3>
        <p>Museum wraps are canvas prints that are traditionally framed. If you'd like a more traditional photograph look for your canvas photo, this is the option for you. Printing Express can do the printing, the wrapping, the framing, and the matting to make your memories look exceptional.</p>

        <h2>Large Photograph Reproductions</h2>
        <p>We do lab-quality photo prints for framing or matting in-house, with options for archival and acid-free paper. We also do them much cheaper than the competition. Feel free to stop by and see some samples before we put our wide-format Epson to work for you.</p>

        <h2>Services for Photographers</h2>
        <p>Printing Express offers discounted rates on prints for professional photographers with no minimum volume requirements. We offer our standard range of gloss, satin, and matte paper as well as canvas as well as many other substrates for specialty applications. Our quick turnaround time and available after-hours pickup give you ultimate flexibility with your clients. Stop waiting a week or more just to get some prints and offer your clients the service they deserve.</p>
    </div>
</div>
