<div class="logo-container">
    <img src="/assets/images/logo.png" alt="Printing Express" [@fadeIn]="logoState">
    <h2 [@fadeIn]="headerState">Full-Service Printing</h2>
</div>

<div class="row align-center">
    <div class="columns medium-10 large-8">
        <p class="large">Printing Express, Inc is an independently owned, full-service printing company centrally located in Kansas City. We offer a full gamut of color printing on paper or substrates as diverse as polyethylene, tyvek, and vinyl. If you're looking for
            competitively-priced, quality printing, look no further. Call us today and let us be your printing partner!</p>
        <p class="large">Printing Express is your one-stop shop for everything from business cards to banners, bringing you Quality Printing at Reasonable Prices since 1990. While many printing companies outsource some or all of their work, we take pride in being able
            to do almost anything in-house.</p>
    </div>
    <div class="row align-center highlights">
        <div class="small-12 medium-6 large-expand columns">
            <h3>Flexibility</h3>
            <p>Offering a hybrid mix of both offset and digital printing, Printing Express is able to leverage digital printing technology to produce high-value short runs while still maintaining a competitive edge on larger jobs.</p>
        </div>
        <div class="small-12 medium-6 large-expand columns">
            <h3>Service</h3>
            <p>At Printing Express, we pride ourselves in the level of service we offer. We believe in going the extra mile to deliver a personalized experience and we believe in helping our customers to get the best possible result.</p>
        </div>
        <div class="small-12 medium-6 large-expand columns">
            <h3>Experience</h3>
            <p>We've spent more than a quarter century perfecting our craft to deliver not just a quality product, but a personalized product. While many companies may tell you what kind of paper is good for a business card, we'll tell you what kind of paper
                is good for your business card. Let us put our experience to work for you to deliver a one-of-a-kind experience so you don't have to wonder if you're getting the best value.</p>
        </div>
    </div>
