<page-header [title]="'Bindery and Finishing'"></page-header>

<div class="row align-center">
    <div class="columns large-8 medium-10">
        <dl>
            <dt>Comb</dt>
            <dd>The plastic comb binding is one of the most economical methods of binding books and booklets from a few sheets up to several hundred sheets. The most common size comb is a 19-finger 11-inch plastic piece that is used to bind 8.5” x 11” books and booklets. Downsides include a bulky plastic thicker than the book and that books cannot be opened 360&deg; like those bound with the more popular coil binding.</dd>
            <dt>Saddle Stitch</dt>
            <dd>Two wire stitched staples on the spine of booklets, catalogs, programs, manuals, etc. Typically, the most economical binding option with costs ranging from about 10&cent; to 20&cent; per book.</dd>
            <dt>Coil</dt>
            <dt>Perfect</dt>
            <dt>3-Ring</dt>
            <dt>Tab Dividers</dt>
        </dl>
    </div>
</div>
