<div #top class="top-bar">
    <div class="top-bar-title" [@title]="titlePosition">
        <span class="hide-for-large">
            <button class="menu-icon" type="button" (click)="toggleNavVisibility()"></button>
            &emsp;
        </span>
        <a routerLink="/">Printing Express, Inc</a>
    </div>
    <nav class="top-bar-right" [@nav]="navIs">
        <ul class="vertical large-horizontal menu">
            <li *ngFor="let page of pages">
                <a [@link]="linkPosition" [routerLink]="['/products', page.path]">{{page.name}}</a>
            </li>
        </ul>
    </nav>
</div>
<div #bumper class="clearfix"></div>
